/* CSS declarations go here */

@charset "utf-8";

div#container {
  width: 205px;
  margin: 30px auto 20px;
  text-align: center;
}

div#grid {
  width: 200px;
  height: 200px;
}

.cell {
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #aaa;
}

.cell:hover {
  border: 1px solid #eee;
}

.white {
  background: white;
}

.black {
  background: black;
}

div.buttons {
  margin: 20px auto;
}

button.btn {
  padding: 2px 15px;
}

div#footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  color: #ccc;
  font-size: small;
}

div#footer a {
  color: #bbb;
}

div#footer a:hover {
  text-decoration: none;
}
