/* CSS declarations go here */

div#container {
  width: 205px;
  margin: 20px auto;
}

div#grid {
  width: 200px;
  height: 200px;
}

.cell {
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #aaa;
}

.cell:hover {
  border: 1px solid #eee;
}

.white {
  background: white;
}

.black {
  background: black;
}

div.buttons {
  margin: 10px auto;
}

button.btn {
  padding: 2px 15px;
}
